.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    font-family: 'times new roman', serif;
}
.m-left {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    gap: 2rem;
}
.m-name {
    display: flex;
    flex-direction: column;
}
.m-name>:nth-child(1) {
    color: black;
    font-weight: bold;
    font-size: 3rem;
}
.m-name>:nth-child(2) {
    color: #1E90FF;
    font-weight: bold;
    font-size: 3rem;
    animation-delay: 1s;
}
.m-name>:nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}
.m-icons{
    margin-top: 2rem;
    display: flex;
    gap: 0rem;
}
.m-icons>*{
    transform: scale(0.5);
}
.m-icons>*:hover{
    cursor: pointer;
}

/* .m-right {
    width: 400px;
    height: 400px;
    margin: 1px 0 0 170px;
    border: 7px solid #ffffff50;
    float: left;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-image: linear-gradient(45deg, #08aeea, #2af598 100%);
    animation: morph 8s ease-in-out infinite;
} */
/* @keyframes morph {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background-image: linear-gradient(45deg, #fa88ff, #2bd2ff 50%, #2bff88 90%);
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
} */
/* .logo {
    width: 20rem;
    background: #08aeea50 ;
    background-size: cover;
    background-position: top -10px center;
    background-blend-mode: multiply;
    animation: morphTwo 8s ease-in-out infinite 1s;
}
@keyframes morphTwo {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
} */

.logo {
    border-radius: 55px;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-right: 9rem;
}

@media screen and (max-width: 480px){
    .intro{
        flex-direction: column;
        height: 64rem;
        gap: 7rem;
    }
    .i-right{
        transform: scale(0.8);
        left: -3rem;
    }
    .logo {
        width: 100%;
        /* margin-left: -20rem; */
    }
}